In [1]:
import pandas as pd
import numpy as np

raw_data = {'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'],
'age': [20, 19, 22, 21],
'favorite_color': ['blue', 'red', 'yellow', "green"],
'grade': [88, 92, 95, 70],
'birth_date': ['01-02-1996', '08-05-1997', '04-28-1996', '12-16-1995']}
df = pd.DataFrame(raw_data, index = ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel'])
df

                              name  age favorite_color  grade  birth_date
Willard Morris      Willard Morris   20           blue     88  01-02-1996
Al Jennings            Al Jennings   19            red     92  08-05-1997
Omar Mullins          Omar Mullins   22         yellow     95  04-28-1996
Spencer McDaniel  Spencer McDaniel   21          green     70  12-16-1995

In [2]:
df['birth_date'] = pd.to_datetime(df['birth_date'])
start_date = '03-01-1996'
end_date = '06-01-1997'

mask = (df['birth_date'] > start_date) & (df['birth_date'] <= end_date)

In [3]:
df = df.loc[mask]
df

                      name  age favorite_color  grade birth_date
Omar Mullins  Omar Mullins   22         yellow     95 1996-04-28